@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 2.3rem;
  }

  h2 {
    font-family: "Bebas Neue", cursive;
    font-size: 2rem;
  }

  /* h3 {
    font-family: "Bebas Neue", cursive;
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
  } */

  h4 {
    font-family: "Bebas Neue", cursive;
    font-size: 1rem;
  }

  p {
    font-family: "JetBrains Mono", sans-serif;
    line-height: 1.75rem;
    font-size: 1rem;
  }

  .email-adresse {
    font-family: "JetBrains Mono", sans-serif;
    font-size: 1rem;
  }

  .mail,
  .pris_info {
    font-family: "JetBrains Mono", sans-serif;
    font-size: 0.8rem;
  }

  button {
    font-family: "JetBrains Mono", sans-serif;
    font-size: 1.1rem;
  }
}
