@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (min-width: 350px) {
    h1 {
      font-family: "Bebas Neue", cursive;
      font-size: 2.7rem;
    }

    h2 {
      font-family: "Bebas Neue", cursive;
      font-size: 1.9rem;
    }

    h3 {
      font-family: "Bebas Neue", cursive;
      font-size: 1.4rem;
    }

    p,
    .mail,
    .pris_info,
    .tabel {
      font-family: "JetBrains Mono", sans-serif;
      line-height: 1.4rem;
      font-size: 0.8rem;
    }

    .email-adresse {
      font-family: "JetBrains Mono", sans-serif;
      font-size: 1rem;
    }

    button {
      font-family: "JetBrains Mono", sans-serif;
      font-size: 1.2rem;
    }
  }

  @media (min-width: 640px) {
    h1 {
      font-family: "Bebas Neue", cursive;
      font-size: 2.7rem;
    }

    h2 {
      font-family: "Bebas Neue", cursive;
      font-size: 2rem;
    }

    h3 {
      font-family: "Bebas Neue", cursive;
      font-size: 1.5rem;
    }

    p,
    .mail,
    .pris_info,
    .tabel {
      font-family: "JetBrains Mono", sans-serif;
      line-height: 1.4rem;
      font-size: 0.8rem;
    }

    .email-adresse {
      font-family: "JetBrains Mono", sans-serif;
      font-size: 1rem;
    }

    button {
      font-family: "JetBrains Mono", sans-serif;
      font-size: 1.2rem;
    }
  }

  @media (min-width: 768px) {
    h1 {
      font-family: "Bebas Neue", cursive;
      font-size: 2.8rem;
    }

    h2 {
      font-family: "Bebas Neue", cursive;
      font-size: 2.2rem;
    }

    h3 {
      font-family: "Bebas Neue", cursive;
      font-size: 1.6rem;
    }

    p,
    .mail,
    .pris_info,
    .tabel {
      font-family: "JetBrains Mono", sans-serif;
      line-height: 1.4rem;
      font-size: 0.9rem;
    }

    .email-adresse {
      font-family: "JetBrains Mono", sans-serif;
      font-size: 1.1rem;
    }

    button {
      font-family: "JetBrains Mono", sans-serif;
      font-size: 1.2rem;
    }
  }

  @media (min-width: 1024px) {
    h1 {
      font-family: "Bebas Neue", cursive;
      font-size: 3rem;
    }

    h2 {
      font-family: "Bebas Neue", cursive;
      font-size: 2.6rem;
    }

    h3 {
      font-family: "Bebas Neue", cursive;
      font-size: 1.4rem;
    }

    p,
    .mail,
    .pris_info,
    .tabel {
      font-family: "JetBrains Mono", sans-serif;
      line-height: 1.4rem;
      font-size: 0.9rem;
    }

    .email-adresse {
      font-family: "JetBrains Mono", sans-serif;
      font-size: 1.1rem;
    }

    button {
      font-family: "JetBrains Mono", sans-serif;
      font-size: 1.2rem;
    }
  }

  @media (min-width: 1280px) {
    h1 {
      font-family: "Bebas Neue", cursive;
      font-size: 3.2rem;
    }

    h2 {
      font-family: "Bebas Neue", cursive;
      font-size: 2.6rem;
    }

    h3 {
      font-family: "Bebas Neue", cursive;
      font-size: 1.4rem;
    }

    p,
    .mail,
    .pris_info,
    .tabel {
      font-family: "JetBrains Mono", sans-serif;
      line-height: 1.4rem;
      font-size: 0.9rem;
    }

    .email-adresse {
      font-family: "JetBrains Mono", sans-serif;
      font-size: 1.1rem;
    }

    button {
      font-family: "JetBrains Mono", sans-serif;
      font-size: 1.2rem;
    }
  }
}

@layer components {
  .shadow-pop-tr {
    -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
      both;
    animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  }
  /* ----------------------------------------------
 * Generated by Animista on 2022-2-23 10:37:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
  @-webkit-keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
        0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
        0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
      transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
        4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
        8px -8px #3e3e3e;
      box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
        4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
        8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
      transform: translateX(-8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
        0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
        0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
      transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
        4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
        8px -8px #3e3e3e;
      box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
        4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
        8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
      transform: translateX(-8px) translateY(8px);
    }
  }
}
